modelscope==1.8.4
gradio>=3.39.0
torch==2.0.1
invisible_watermark
safetensors
diffusers==0.18.0
xformers==0.0.20
torchsde
open_clip_torch>=2.0.2
opencv-python-headless
opencv-python
einops>=0.4
rotary-embedding-torch
fairscale
scipy
imageio
audiocraft
easydict
pytorch_lightning
fairseq
unicodedata2
zhconv
rapidfuzz
decord>=0.6.0
transformers_stream_generator
tiktoken
transformers>=4.31.0
accelerate